body {
  background: #ffffff;
  padding-bottom: 60px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
  color: #333;
}

a {
  color: #2ca8ff !important;
}
a:hover,
a:focus {
  color: #109cff !important;
  text-decoration: none;
}
a:focus,
a:active {
  outline: 0;
}

a.navbar-brand {
  color: #333 !important;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
  background: #333;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
}

.status {
  background-color: rgb(248, 248, 248);
  color: #888;
  text-align: right;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
  border-bottom: 1px solid rgba(0,0,0,.075);
  text-align: center;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(248, 248, 248, 0.9);
  color: #888;
  text-align: right;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
}

.fa-6 {
  font-size: 20em;
}

.tab-content {
  margin-top: 20px;
}

.dropzone {
  border: 2px dashed #999;
  border-radius: 5px;
  background: white;
  margin-bottom: 30px;
}

.face-overlay-box {
  border: 2px solid yellow;
  border-radius: 5px;
}

.face-overlay-text {
  background: yellow;
  padding: 2px;
}

.entry-thumbnail-container {
}

.entry-thumbnail {
  max-width: 300px;
  max-height: 200px;
}

.entry-taglist {
  margin: 0;
  padding: 0;
}

.entry-tag {
  font-size: 18px;
  display: inline-table;
  margin-right: 5px;
  margin-bottom: 5px;
}

.entry-actions {
  text-align: right;
}

.video-container {
  display: inline-table;
}

.video-panel {
  width: 350px;
  height: 270px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.video-panel .panel-body {
  min-height: 219px;
}

.video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.video-title a {
  color: #333 !important;
}

.video-thumbnail {
  width: 300px;
  max-height: 170px;
  overflow: hidden;
}

.video-tags {
  text-align: center;
}

.transcript-sentence::first-letter {
  text-transform: capitalize;
}
