body, html {
  background: white;
  color: #717777;
}

/**
  Header
  **/

md-toolbar {
  background-color: #333333 !important;
}

md-toolbar md-icon {
  fill: white !important;
}

.title {
  color: #ffffff;
}

.upload-button {
  color: #ffffff !important;
}

md-progress-circular path {
  stroke: white !important;
}

md-progress-linear .md-container {
  background-color: #ebebeb;
}

md-progress-linear .md-container .md-bar {
  background-color: #E77A4D;
}

/**
  Footer
  **/

footer {
  background-color: #ebebeb !important;
}

/**
  Common
  **/

a {
  color: #717777;
}

h3 {
  color: #ee6161;
  border-bottom-color: #ee6161;
}

button.md-button {
  color: black;
}

label.md-button {
  color: black;
}

.border-box {
  border-color: #eef0ef !important;
}

.tag, .tag a, .tag a md-icon {
  background-color: #c3daf4;
  color: #294261;
}

.tag-keyword {
  background-color: #c3daf4;
  color: #294261;
}

.tag-face {
  background-color: #d2f0f8;
  color: #2e575e;
}

.face-overlay-box {
  border-color: #4cd3ba !important;
}

.face-overlay-text {
  color: white;
  background-color: #4cd3ba;
}

/**
  Home
  **/

.button-group {
  color: #bcc0c1 !important;
}

.button-group[disabled] {
  background-color: #ee6161 !important;
  color: white !important;
}

.video-box-tag {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.video-box-title {
  color: black;
}

/**
  Video
  **/

.video-details, .video-navigator {
  border-color: #eef0ef !important;
}

.video-overview-box {
  background-color: #f1f1f1;
}

.video-overview-title {
  color: #ee6161;
}

.video-menu-button md-icon {
  color: #ee6161;
}

.video-frame-timeline {
  width: 2px;
  background-color: #ee6161 !important;
}

.timecode {
  color: #ee6161;
  border-color: #ee6161 !important;
  background-color: #ffffff;
}

.selected-frame .timecode {
  color: #ffffff;
  border-color: #ee6161;
  background-color: #ee6161;
}

.selected-frame-indicator {
  color: #ee6161;
}

.selected-frame {
  background-color: #efefef;
}

.transcript {
  background-color: #f8f8f8;
}

.transcript-timestamp {
  color: #5b9d98;
}
