body, html {
  background: white;
  color: #717777;
}

/**
  Header
  **/

md-toolbar {
  background-color: #333333 !important;
}

md-toolbar md-icon {
  fill: white !important;
}

.title {
  color: #ffffff;
}

.upload-button {
  background-color: #ee6161;
  color: #ffffff !important;
}

md-progress-circular path {
  stroke: white !important;
}

md-progress-linear .md-container {
  background-color: #ebebeb;
}

md-progress-linear .md-container .md-bar {
  background-color: #E77A4D;
}

/**
  Footer
  **/

footer {
  background-color: #ebebeb !important;
}

/**
  Common
  **/

h3 {
  color: #ee6161;
  border-bottom-color: #ee6161;
}

button.md-button {
  color: black;
}

label.md-button {
  color: black;
}

.box-border {
  border-color: #ebebeb;
}

.tag, .tag a, .tag a md-icon {
  background-color: #c3daf4;
  color: #294261;
}

.tag-keyword {
  background-color: #c3daf4;
  color: #294261;
}

.tag-face {
  background-color: #d2f0f8;
  color: #2e575e;
}

.face-overlay-box {
  border-color: #4cd3ba !important;
}

.face-overlay-text {
  color: white;
  background-color: #4cd3ba;
}

/**
  Home
  **/

.button-group {
  color: #bcc0c1 !important;
}

.button-group[disabled] {
  background-color: #ee6161 !important;
  color: white !important;
}

.video-box-tag {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.video-box-title {
  color: black;
}

/**
  Video
  **/

.selected-frame {
  background-color: #efefef;
}
