@import url(//fonts.googleapis.com/css?family=Rubik:400,500);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

body, html {
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: Rubik,Helvetica,sans-serif;
  font-weight: 400;
}

/**
  Header
  **/

#search {
  outline: none;
  height: 36px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.title {
  margin-left: 10px;
}

.title.ow {
  font-weight: 400;
}

.title.dv {
  font-weight: 500;
}

.upload-button {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  text-transform: capitalize;
  border: none;
  border-radius: 0;
}

label md-progress-circular {
  display: inline-block;
  top: 5px;
  width: 24px !important;
  height: 24px;
}

.twitter-icon {
  fill: #1b95e0 !important;
}

spinner {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.loadingProgress {
  visibility: hidden;
}

md-progress-linear {
  height: 2px;
}

md-progress-linear .md-bar {
}

md-progress-linear .md-container {
  height: 2px;
}

md-progress-linear .md-container .md-bar {
  height: 2px;
}

md-toolbar {
  min-height: 50px;
}

.md-toolbar-tools {
  font-size: 14px;
  height: 50px;
  max-height: 50px;
}

button.md-button.md-icon-button, a.md-button.md-icon-button {
  height: 50px;
  width: 50px;
}

md-icon {
  width: 32px;
  height: 32px;
  font-size: 32px !important;
}

/**
  Container
  **/

.wrapper {
  overflow-y: scroll;
}

.container {
  max-width: 1058px;
  margin: 0 auto;
}

/**
  Footer
  **/

footer {
  text-align: center;
  padding: 8px;
}

/** Common **/

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  font-size: 14px;
}

h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.entry-tags, .entry-faces {
  margin-left: 20px;
}

.entry-taglist {
  padding: 0;
  margin: 0;
}

.entry-tag {
  display: inline;
}

.tag {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.video-box-tag {
  padding: 4px;
  margin-left: 4px;
  font-weight: 500;
  font-size: 12px;
}

.image-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.entry-thumbnail-container {
  overflow: hidden;
}

.face-overlay-box {
  border: 2px solid;
  border-radius: 4px;
}

.face-overlay-text {
  padding-left: 2px;
  padding-right: 2px;
}
