.video-container {
  overflow: hidden;
}

.video-details {
  padding: 40px;
  overflow: auto;
  border-right: 1px solid;
}

.video-thumbnail {
  width: 100%;
}

.video-box-title {
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.video-title {
  margin-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
  font-weight: 400;
}

.video-box-tags {
  font-size: 15px;
  white-space: nowrap;
}

.video-overview {
  margin-top: 15px;
  font-size: 20px;
}

.transcript {
  border: 1px solid;
  padding: 20px;
}

.transcript-timestamp {
  font-weight: 500;
}

.transcript-break {
  display: block;
  margin-top: 10px;
}

.transcript-sentence::first-letter {
  text-transform: capitalize;
}

.video-navigator {
  border-bottom: 1px solid;
  min-width: 265px;
}

.video-frames {
  overflow: auto;
  padding-bottom: 20px;
}

.video-frame {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.video-frame-timeline {
  position: absolute;
  left: 55px;
  top: 0px;
  width: 2px;
  height: 105px;
}

.selected-frame-indicator {
  position: absolute;
  left: -5px;
  top: 45px;
  font-size: 16px !important;
}

.last {
  height: 125px;
}

.timecode {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1000;
}

.video-overview-box {
  border-bottom: 1px solid;
  padding-left: 20px;
  outline: none;
  cursor: pointer;
  height: 60px;
}

.video-overview-thumbnail {
  width: 60px;
  height: 36px;
  margin-right: 20px;
}

.video-overview-title {
  font-weight: 500;
}

.video-frame-thumbnail {
  width: 150px;
  height: 85px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}
